<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
         name="dbconn" 
         connectionString=" Server = projectfef.database.windows.net; Database=2SemesterProjekt;
                            User ID=fef; Password=1234abcD"/>
  </connectionStrings>
</configuration>